h1{
    color: blueviolet;
    font-size: xx-large;
}

body{
    background-color: aquamarine;
}

button{
    background-color: bisque;
    text-decoration: dotted;
    border: 0cqb;
}

div {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
  }